/**
    Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: sans-serif;
}

/**
    Remove the margin in all browsers
 */
body {
  margin: 0;
}

/**
    Fix box-sizing
 */
* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

/**
    Add the correct display in IE 9-.
 */
article, figcaption, figure, footer, header, aside, main, nav, section {
  display: block;
}

/**
    Remove the gray background on active links in IE 10.
    Remove gaps in links underline in iOS 8+ and Safari 8+.

 */
a {
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

/**
    Remove the outline on focused links when they are also active or hovered in all browsers
 */
a:active, a:hover {
  outline-width: 0;
}

/**
    Remove the border on images inside links in IE 10-. + Responsive + Invisible margin-bottom fix
*/
img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

/**
    Remove margin, padding, set font-weight to normal
*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/**
    Remove margin, padding, set font-weight to normal
*/
ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/**
    Remove IOS box-shadow and border-radius
*/
input {
  box-shadow: none;
  border-radius: 0;
}

/**
    Remove the margin in Firefox and Safari.
*/
button, input, select, textarea {
  margin: 0;
}

/**
    Show the overflow in Edge.
*/
button, input {
  overflow: visible;
}

/**
    Correct the inability to style clickable types in iOS and Safari.
*/
button, [type="submit"] {
  -webkit-appearance: button;
}

/**
    Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
    Correct the inability to style clickable types in iOS and Safari.
    Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/**
    Add the correct box sizing in IE 10-.
    Remove the padding in IE 10-.
*/
[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/**
    Correct the text style of placeholders in Chrome, Edge, and Safari.
*/
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
    Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
    Remove the inheritance of text transform in Edge, Firefox, and IE.
*/
button, select {
  text-transform: none;
}

/**
    Responsive table
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
    Responsive table td padding fix
*/
td {
  padding: 0;
}

/**
    Clear fix
*/
.clear:before, .panel.description .locker:before, .panel.winners .bottom .names:before, .clear:after, .panel.description .locker:after, .panel.winners .bottom .names:after {
  content: " ";
  display: table;
}

.clear:after, .panel.description .locker:after, .panel.winners .bottom .names:after {
  clear: both;
}

.transition-all, .btn-purple {
  transition: all 0.5s ease;
}

.btn-purple {
  width: 237px;
  height: 72px;
  border: 0;
  border-radius: 31px;
  background-color: #965786;
  box-shadow: inset 0 -4px rgba(0, 0, 0, 0.5);
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 rgba(0, 0, 0, 0.75);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  font-family: "Roboto";
}

.btn-purple:focus {
  outline: none;
}

.btn-purple:hover {
  background-color: #7c466e;
}

body {
  font-family: "Roboto", sans-serif;
  color: #262626;
}

main {
  background-color: #8dc63f;
}

.browserupgrade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #fff;
  z-index: 9999;
  padding: 10px;
}

.browserupgrade a {
  text-decoration: underline;
  color: lightblue;
}

#csempe-csapda {
  width: 810px;
}

.panel {
  height: 608px;
  display: none;
  position: relative;
}

.panel.game {
  display: block;
}

.panel.agreement, .panel.description, .panel.game-over, .panel.fail, .panel.fail-2, .panel.fail-draw, .panel.fail-last-week {
  background: url("../images/base/background-1.png") no-repeat top right 38px #8dc63f;
}

.panel.success, .panel.success-draw, .panel.success-last-week {
  background: url("../images/base/background-2.png") no-repeat center left 53px #8dc63f;
}

.heading-1 {
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  font-size: 36px;
}

.paragraph-1 {
  font-size: 24px;
  line-height: 35px;
  font-weight: 500;
  text-align: center;
}

header {
  background-color: #373737;
  height: 126px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.23);
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

header div {
  float: left;
}

header .move {
  width: 79px;
  height: 79px;
  background: url("../images/header/move.png") no-repeat center;
  margin: 19px 11px 0 0;
}

header .zwilling {
  width: 70px;
  height: 94px;
  background: url("../images/header/zwilling.png") no-repeat center;
  margin-top: 19px;
}

header .logo {
  width: 269px;
  height: 105px;
  background: url("../images/header/logo.png") no-repeat center;
  margin: 14px 0 0 102px;
}

header .spar {
  width: 168px;
  height: 96px;
  background: url("../images/header/spar.png") no-repeat center;
  float: right;
  margin-top: 14px;
}

footer {
  height: 46px;
  background-color: #373737;
}

footer ul {
  width: 100%;
  text-align: center;
}

footer ul li {
  display: inline-block;
  text-align: center;
  line-height: 46px;
  margin-right: 46px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #fff;
  font-size: 18px;
  display: inline-block;
}

.panel.agreement .heading-1 {
  padding: 42px 70px 44px 70px;
}

.panel.agreement .paragraph-1 {
  padding: 0 90px 50px 90px;
}

.panel.agreement .checkbox {
  text-align: center;
}

.panel.agreement .checkbox:nth-of-type(2) {
  margin-top: 22px;
  position: relative;
  left: -1px;
}

.panel.agreement input[type=checkbox].css-checkbox {
  position: absolute;
  z-index: -1000;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.panel.agreement input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 47px;
  height: 34px;
  display: inline-block;
  line-height: 34px;
  background-repeat: no-repeat;
  background-position: 0 -34px;
  font-size: 22px;
  font-weight: 500;
  vertical-align: middle;
  cursor: pointer;
}

.panel.agreement input[type=checkbox].css-checkbox + label.css-label a {
  text-decoration: underline;
}

.panel.agreement input[type=checkbox].css-checkbox + label.css-label.wrong {
  color: #d10109;
}

.panel.agreement input[type=checkbox].css-checkbox + label.css-label.wrong a {
  color: #d10109;
}

.panel.agreement input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 0;
}

.panel.agreement label.css-label {
  background-image: url("../images/index/checkbox.png");
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel.agreement button {
  margin-top: 42px;
}

.panel.description .heading-1 {
  padding-top: 54px;
}

.panel.description .paragraph-1 {
  padding: 17px 50px;
}

.panel.description h2 {
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  padding-bottom: 48px;
}

.panel.description .locker {
  width: 198px;
  margin: 0 auto 46px auto;
}

.panel.description .locker span {
  display: block;
  font-weight: 500;
  letter-spacing: 0.080em;
  font-size: 65px;
  float: left;
  line-height: 107px;
  margin-right: 11px;
}

.panel.description .locker .padlock {
  float: left;
  width: 106px;
  height: 107px;
  background: url("../images/index/padlock.png") no-repeat center;
}

.panel.game {
  overflow: hidden;
}

.panel.game .popup {
  display: none;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 7px;
  bottom: 7px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(55, 55, 55, 0.9);
  z-index: 10;
}

.panel.game .popup .selected-product {
  width: 162px;
  height: 162px;
  margin: 18px auto 10px auto;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 -5px rgba(0, 0, 0, 0.21);
  position: relative;
}

.panel.game .popup .selected-product img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.panel.game .popup .number {
  font-weight: 900;
  font-size: 60px;
  color: #8dc63f;
  text-align: center;
  margin: 20px 0 5px 0;
}

.panel.game .popup p {
  font-size: 35px;
  line-height: 49px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  padding: 0 67px;
}

.panel.game .popup .answers {
  text-align: center;
  margin-top: 60px;
}

.panel.game .popup .answers button {
  display: inline-block;
  width: 204px;
  height: 62px;
  margin-right: 48px;
  border-radius: 10px;
  border: 0;
  line-height: 62px;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

.panel.game .popup .answers button:focus {
  outline: none;
}

.panel.game .popup .answers button:last-child {
  margin-right: 0;
}

.panel.game .popup .answers button.answer-1 {
  background-color: #8dc63f;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
}

.panel.game .popup .answers button.answer-2 {
  background-color: #f53a41;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
}

.panel.game .popup .answers button.answer-3 {
  background-color: #995387;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
}

.panel.game .game-box {
  height: 450px;
  width: 1753px;
  background: url("../images/index/game-background.jpg") no-repeat center bottom;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.panel.game .game-box div {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.panel.game .game-box div .success {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 19px;
  height: 15px;
  background: url("../images/index/pipe.png") no-repeat center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.panel.game .game-box .torulkozo {
  width: 105px;
  height: 151px;
  left: 889px;
  top: 218px;
}

.panel.game .game-box .mosdokagylo {
  width: 193px;
  height: 72px;
  top: 184px;
  left: 657px;
}

.panel.game .game-box .fogkrem {
  width: 30px;
  height: 60px;
  top: 132px;
  left: 695px;
  z-index: 2;
}

.panel.game .game-box .kontos {
  width: 139px;
  height: 209px;
  top: 65px;
  left: 290px;
}

.panel.game .game-box .kad {
  width: 410px;
  height: 155px;
  top: 245px;
  right: 80px;
}

.panel.game .game-box .fogkefe {
  width: 30px;
  height: 79px;
  left: 781px;
  top: 114px;
  z-index: 2;
}

.panel.game .game-box .wc {
  width: 227px;
  left: 23px;
  height: 257px;
  bottom: 15px;
}

.panel.game .game-box .zuhanyrozsa {
  width: 40px;
  height: 40px;
  right: 148px;
  top: 80px;
}

.panel.game .game-box .gumikacsa {
  width: 37px;
  right: 167px;
  height: 37px;
  bottom: 192px;
  z-index: 2;
}

.panel.game .game-box .merleg {
  width: 125px;
  height: 69px;
  left: 307px;
  bottom: 35px;
}

.panel.game .game-box .ollo {
  width: 52px;
  height: 26px;
  left: 518px;
  top: 219px;
}

.panel.game .game-box .tukor {
  width: 59px;
  top: 137px;
  height: 86px;
  right: 622px;
  z-index: 2;
}

.panel.game .game-box .mosogep {
  width: 151px;
  height: 188px;
  right: 552px;
  bottom: 50px;
}

.panel.game .game-box .hajszarito {
  width: 82px;
  top: 123px;
  height: 86px;
  left: 563px;
}

.panel.game .game-box .szappan {
  width: 50px;
  right: 120px;
  height: 33px;
  top: 234px;
  z-index: 2;
}

.panel.game .game-box .parfum {
  width: 44px;
  height: 39px;
  left: 481px;
  top: 203px;
}

.panel.game .game-box .fesu {
  width: 80px;
  height: 25px;
  right: 561px;
  top: 198px;
  z-index: 2;
}

.panel.game .game-box .kadkilepo {
  width: 224px;
  height: 49px;
  right: 160px;
  bottom: 4px;
  z-index: 2;
}

.panel.game .game-box .zuhanyfuggony {
  width: 172px;
  top: 37px;
  height: 287px;
  right: 296px;
  z-index: 2;
}

.panel.game .game-box .tusfurdo {
  width: 32px;
  height: 76px;
  right: 61px;
  bottom: 39px;
  z-index: 2;
}

.panel.game .game-box .torulkozo-2 {
  width: 77px;
  height: 108px;
  right: 197px;
  bottom: 89px;
  z-index: 2;
}

.panel.game .navigations {
  position: absolute;
  width: 810px;
  height: 450px;
  top: 0;
}

.panel.game .navigations a {
  display: block;
  position: absolute;
  width: 69px;
  height: 69px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}

.panel.game .navigations a.left {
  background: url("../images/index/left.png") no-repeat center;
  left: 20px;
}

.panel.game .navigations a.right {
  background: url("../images/index/right.png") no-repeat center;
  right: 20px;
}

.panel.game .lockers {
  padding-top: 24px;
}

.panel.game .lockers .row {
  text-align: center;
  font-size: 0;
}

.panel.game .lockers .one {
  margin-right: 61px;
}

.panel.game .lockers .three {
  margin-top: 20px;
}

.panel.game .lockers .lock {
  width: 45px;
  height: 46px;
  display: inline-block;
  background: #425034 url("../images/index/spritesheet.png") no-repeat;
  background-position: 3.5px 0;
  border-radius: 5px;
  margin-right: 6.5px;
}

.panel.game .lockers .lock:last-child {
  margin-right: 0;
}

.panel.game .lockers .lock.active {
  background-position: -36px -2px;
}

.panel.game .lockers .line {
  display: inline-block;
}

.panel.game-over .heading-1 {
  padding: 108px 90px 40px 90px;
}

.panel.game-over .paragraph-1:nth-of-type(1) {
  padding: 0 95px;
}

.panel.game-over .paragraph-1:nth-of-type(2) {
  padding: 40px 90px;
}

.panel.winners .top {
  height: 232px;
}

.panel.winners .bottom {
  height: 376px;
  background-color: #83ba39;
  padding: 0 20px;
}

.panel.winners .bottom button {
  font-size: 27px;
  opacity: 0.60;
}

.panel.winners .bottom button.active {
  opacity: 1;
}

.panel.winners .bottom .names {
  height: 210px;
  overflow: auto;
}

.panel.winners .bottom .names div {
  display: none;
}

.panel.winners .bottom .names div:first-child {
  display: block;
}

.panel.winners .bottom .names ul {
  width: 50%;
  float: left;
  text-align: center;
}

.panel.winners .bottom .names ul li {
  font-size: 20px;
  line-height: 35px;
}

.panel.winners .tabs {
  text-align: center;
  padding: 23px 0 35px 0;
}

.panel.winners .tabs button {
  display: inline-block;
  margin-right: 18px;
}

.panel.winners .tabs button:last-child {
  margin-right: 0;
}

.panel.winners .heading-1 {
  padding: 30px 0 20px 0;
}

.panel.winners .paragraph-1 {
  padding: 0 50px;
}

.panel.fail .heading-1, .panel.fail-2 .heading-1, .panel.fail-last-week .heading-1 {
  padding-top: 100px;
}

.panel.fail .paragraph-1, .panel.fail-2 .paragraph-1, .panel.fail-last-week .paragraph-1 {
  padding: 33px 60px 147px 60px;
}

.panel.fail .give-chance, .panel.fail-2 .give-chance, .panel.fail-last-week .give-chance {
  float: left;
  font-size: 24px;
  line-height: 32px;
  padding-left: 65px;
  width: 60%;
}

.panel.fail button, .panel.fail-2 button, .panel.fail-last-week button {
  font-size: 29px;
  float: left;
  margin-left: 28px;
}

.panel.success .heading-1, .panel.success-draw .heading-1, .panel.success-last-week .heading-1 {
  padding: 40px 0;
}

.panel.success .paragraph-1, .panel.success-draw .paragraph-1, .panel.success-last-week .paragraph-1 {
  padding: 0 40px;
}

.panel.success .give p, .panel.success .share p, .panel.success-draw .give p, .panel.success-draw .share p, .panel.success-last-week .give p, .panel.success-last-week .share p {
  float: left;
  width: 61%;
  padding-left: 65px;
  font-size: 24px;
  line-height: 32px;
}

.panel.success .give button, .panel.success .share button, .panel.success-draw .give button, .panel.success-draw .share button, .panel.success-last-week .give button, .panel.success-last-week .share button {
  font-size: 29px;
}

.panel.success .share, .panel.success-draw .share, .panel.success-last-week .share {
  margin: 74px 0 67px 0;
}

.fail-draw .heading-1 {
  padding: 55px 0 35px 0;
}

.fail-draw .paragraph-1 {
  padding: 0 65px;
}

.fail-draw .paragraph-1:nth-of-type(2) {
  margin: 48px 0 126px 0;
}

.fail-draw .give-chance {
  float: left;
  font-size: 24px;
  line-height: 32px;
  padding-left: 65px;
  width: 60%;
}

.fail-draw button {
  font-size: 29px;
  float: left;
  margin-left: 28px;
}

.panel.success-last-week .share {
  margin-top: 35px;
}

.panel.fail-last-week .paragraph-1 {
  padding-bottom: 109px;
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
