header{
	.move{
		float: left;
		width: 79px;
		height: 79px;
		background: url('../images/header/move.png') no-repeat center;
	}
	.zwilling{
		float: left;
		width: 70px;
		height: 94px;
		background: url('../images/header/zwilling.png') no-repeat center;
	}
}