body {
    font-family: $roboto;
    color: #262626;
}

main {
    background-color: #8dc63f;
}

.browserupgrade {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #fff;
    z-index: 9999;
    padding: 10px;

    a {
        text-decoration: underline;
        color: lightblue;
    }
}

#csempe-csapda {
    width: 810px;
}

.panel {
    height: 608px;
    display: none;
    position: relative;
}

.panel.game {
    display: block;
}

.panel.agreement, .panel.description, .panel.game-over, .panel.fail, .panel.fail-2, .panel.fail-draw, .panel.fail-last-week {
    background: url("../images/base/background-1.png") no-repeat top right 38px #8dc63f;
}

.panel.success, .panel.success-draw, .panel.success-last-week{
    background: url("../images/base/background-2.png") no-repeat center left 53px #8dc63f;
}

.heading-1 {
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    font-size: 36px;
}

.paragraph-1 {
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
}